{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block 'head' %}{% endblock %}
    <title>{% block 'title' %}{% endblock %}</title>
    <nav class="navbar navbar-expand-lg" style="background-color: black; margin-left: 70px;">
      <a class="navbar-brand" href="/" style="color: red;">ALG</a>
      <a class="navbar-brand" href="/" style="margin-left: -15px; color: white;">Baixos</a>
      
    </nav>
    
  </head>
  <body>
    
    <div class="sidebar">
        <div class="logo-details">
          <div class="logo_name" style="color: red;">ALG</div>
            <div class="logo_name">Baixos</div>
            <i class='bx bx-menu' id="btn" ></i>
          </div>
          <ul class="nav-list">
          <li>
            <a href="#">
              <i class='bx bx-plus' ></i>
              <span class="links_name">Agenda</span>
            </a>
            <span class="tooltip">Agenda</span>
          </li> 
          <li>
            <a href="#">
              <i class='bx bx-home'></i>
              <span class="links_name">Página inicial</span>
            </a>
            <span class="tooltip">Página inicial</span>
          </li>
          <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Seu perfil</span>
          </a>
          <span class="tooltip">Seu perfil</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-chat' ></i>
            <span class="links_name">Dúvidas</span>
          </a>
          <span class="tooltip">Dúvidas</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-log-out' ></i>
            <span class="links_name">Histórico</span>
          </a>
          <span class="tooltip">Histórico</span>
        </li>
        </ul>
      </div>
      
      
      <section class="home-section">
          {% block 'dashboard'%}
          {% endblock %}

      </section>

      {% block 'body' %}
      {% endblock %}
      <center>
        <div class="footer" style="background-color: black; position: bottom; padding: 20px; margin-left: 78px;">
          <p style="color: red; margin-bottom: -5px;">ALGBaixos &copy 2023</p>
          <small style="color: gray;">Todos os direitos reservados</small>
        </div>
      </center>
    <script src="{% static 'general/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>